/*Fourth Page*/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.cardContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 2s ease-in-out;
    transform-style: preserve-3d;
}

.front{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: rgb(56, 253, 148);
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lobster";
    font-size: 32px;
    
}

.back{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: rgb(43, 218, 207);
    border-radius: 20px;
    transform: rotateY(180deg);

}

.info{
    font-family: "Arial";
}

.cardContainer:hover{
    transform: rotateY(180deg);
}

.front, .back{
    backface-visibility: hidden;
}

.clipboardIcon{
    display: inline;
    width: 40px;
    transition: 1.5s ease;
    cursor: pointer;
    padding-left: 5px;
    transition: all 0.2s ease;
}
.clipboardIcon:hover{
    filter: invert(0.4);
}

