.experience{
    height: 200vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

.experienceGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 500px 300px 1fr;
    column-gap: 20px;
    row-gap: 30px;
    font-size: 19px;
    text-align: center;
    font-family: "Roboto Mono";
    justify-content: center;
    align-items: center;
    
}
.experienceGridTitles{
    font-size: 22px ;
}
.demos{
    width: 80%;
}
.pureTextOnVideoDiv{
    height: 300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}